---
import NavbarComponent from '@components/NavbarComponent.vue'
import FooterComponent from '@components/FooterComponent.vue'

interface Props {
  title: string
  desc: string
}

const { title, desc } = Astro.props
---

<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content=`${desc}` />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gdvnps.site/" />
    <meta property="og:title" content=`${title}` />
    <meta property="og:description" content=`${desc}` />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://gdvnps.site/" />
    <meta property="twitter:title" content=`${title}` />
    <meta property="twitter:description" content=`${desc}` />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,100,0,0&icon_names=menu"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <NavbarComponent client:load />
    <slot />
    <FooterComponent />
  </body>
</html>

<style is:global>
  @tailwind base;

  @layer base {
    body {
      @apply m-0 box-border bg-[#090916] p-0;
    }

    .link-text {
      @apply text-slate-100 no-underline;
    }

    .svg-link {
      @apply fill-slate-100;
    }
  }
</style>
